$drop-list-color: rgb(193, 236, 193);
$drop-mark-color: rgb(235, 128, 86);
$drop-header-color: rgb(183, 201, 240);
$overlay-color: rgba(0, 0, 0, 0.4);
$scrollbar-color: rgba(158, 245, 158, 0.2);
$button-color: rgb(235, 110, 110);
$danger-color: rgb(243, 131, 131);
$cart-header-text-color: rgb(16, 16, 56);
$cart-color: rgb(178, 239, 250);
$total-color: rgb(216, 64, 64);
$active-color: rgb(150, 202, 72);
$cart-hover-color: rgb(179, 111, 243);